header{
background-color:dodgerblue;
color: white;
width:100%;
text-align: left;
}
body {
font-family: 'Chakra Petch', sans-serif;
position: absolute;
 color:black;
 background-color: azure;
 padding:10px;
 color: white;
 text-align:right;
}

nav{
color:white;
float:left;
}
nav ul{
    list-style :none;
    overflow:hidden;
}
nav ul li {
    float:left;
}

nav ul li a {
    display:flex;
    padding:10px;
    color:white;
    text-decoration:none;
    background-color: black;
}

a:hover{
    color:aqua;
    background-color: bisque;
}

nav ul li  :hover {
    background-color:dodgerblue;
    color:black;
}

.imagen1 {
    position:fixed;
    left:1px;
}
.principal {
    background: url(../images/Shonenjump.webp);
    left:5px;
}
.mangasvendidos p{
color: black;
text-align:left;
padding:10px;
margin:10px;
}
.mangasvendidos{
    background-color: cornflowerblue;
}
.mangasexplicar p{
    color: black;
    text-align:left;
    padding:10px;
    margin:10px;
}
.mangasexplicar{
    background-color:bisque;
}
.recomendaciones p {
    color: black;
    text-align:left;
    padding:10px;
    margin:10px;
}
.recomendaciones{
background-color: gainsboro;
}
.ordenlectura{
    width:80%;
    height:60%;
    position:absolute;
    right:-700px;
    top:200px;
}
.onepiece{
width:60%;
height:20%;
position:absolute;
right:-600px;
top:100px;
}
.golgo{
    width:60%;
    height:20%;
    position:absolute;
    right:-600px;
    top:920px;  
}
.conan{
    width:60%;
    height:16%;
    position:absolute;
    right:-600px;
    top:1750px;    
}
.dragonball{
    width:60%;
    height:20%;
    position:absolute;
    right:-600px;
    top:2425px;    
}
.naruto{
    width:60%;
    height:20%;
    position:absolute;
    right:-600px;
    top:3250px;    
}
.monster{
    width:60%;
    height:20%;
    position:absolute;
    right:-600px;
    top:200px;
}
.berserk{
    width:60%;
    height:25%;
    position:absolute;
    right:-600px;
    top:800px;  
}
.tokyoghoul{
    width:60%;
    height:25%;
    position:absolute;
    right:-600px;
    top:1750px;    
}
.formularios{
background-image:url(../images/Grandblue.jpg);
background-repeat:no-repeat;
background-size: cover;
}
.formulario{
font-weight:500px;
text-shadow:2px;
color:rgb(0, 0, 0);
padding:2px;
margin:5px;
font-size:20px;

}
.gustos {
justify-content:left;
text-align: left;
background-color: aliceblue;
}
.checkbox{
    justify-content:left;
    text-align: left;    
}
.descripcion{
    justify-content:left;
    text-align: left;    
}
.formulariogustos {
    justify-content:left;
    text-align: left;
    background-color: aliceblue;
}
.formulariogustos2{
    justify-content:left;
    text-align: left;
    background-color: aliceblue;
}
.formulariogustos3{
    justify-content:left;
    text-align: left;
    background-color: aliceblue;
}
.formularios1{
    justify-content:left;
    text-align: left;
    margin:10px;
    background-color: aliceblue;
}
.formulariogustos4{
    justify-content:left;
    text-align: left;
    background-color: aliceblue;
}
@media only screen and  (max-width:768px) {
    body{
        background-color: aqua;    
        width:70%;
        text-align:start;
        color: aqua;
    }
    .menu{
    text-align:center;
    }
    .principal h1{
        text-align: center;
    }
    nav ul li a {
        display:flex;
        flex-wrap:wrap;
        padding:10px;
        color:white;
        text-decoration:none;
        background-color: black;
    }
    }
@media (768px < width < 1024px){
body{
    background-color:red;
}
}
@media (width >=1024){

}


